apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer
  labels:
    app: customer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customer
  template:
    metadata:
      name: customer
      labels:
        app: customer
    spec:
      containers:
        - name: customer
          image: alhoussam/customer:0.0.1-SNAPSHOT@sha256:7d6e05fe7d2da0a0e601cfca36af6103464cc29578eabdf2ab160305a20ac910
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: kube
          imagePullPolicy: Always
      restartPolicy: Always
      