services:
  db:
    image: postgres
    restart: unless-stopped
    ports:
      - "1234:5432"
    environment:
      POSTGRES_USER: houssam
      POSTGRES_PASSWORD: houssam
      PGDATA: /data/postgres
    networks:
      - spring

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: user-name@domain-name.com
      PGADMIN_DEFAULT_PASSWORD: strong-password
    networks:
      - spring

  zipkin:
    image: ghcr.io/openzipkin/zipkin-slim:${TAG:-latest}
    container_name: zipkin
    ports:
      - 9411:9411
    networks:
      - spring

  rabbitmq:
    image: rabbitmq:3.9.11-management-alpine
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    networks:
      - spring

  broker:
    image: apache/kafka:latest
    ports:
      - 9092:9092
      - 9093:9093
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
    networks:
      - spring

  api-gateway:
    image: alhoussam/apigateway:0.0.1-SNAPSHOT@sha256:fc04ff2b7b44aa4a0e9a3aa7e13aacffc368441c84d50307b25ddeac2a10fc9f
    container_name: api-gateway
    ports:
      - 8083:8083
    networks:
      - spring
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      - zipkin
      - eureka-server

  eureka-server:
    image: alhoussam/eureka-service-discovery:0.0.1-SNAPSHOT@sha256:7edefa2d5c831b861bd5c5e3e2ccc03d0ead860147850317492882ffde56e3af
    container_name: eureka-server
    ports:
      - 8761:8761
    networks:
      - spring
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      - zipkin

  fraud:
    image: alhoussam/fraud:0.0.1-SNAPSHOT@sha256:2ee1f1b5fe546cfb45c5966e113b42cf22800a6daa3473aff7ad1e4871d38822
    container_name: fraud
    ports:
      - 8081:8081
    networks:
      - spring
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      - zipkin
      - db
      - pgadmin

  customer:
    image: alhoussam/customer:0.0.1-SNAPSHOT@sha256:7d6e05fe7d2da0a0e601cfca36af6103464cc29578eabdf2ab160305a20ac910
    container_name: customer
    ports:
      - 8080:8080
    networks:
      - spring
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      - zipkin
      - db
      - pgadmin
      - rabbitmq

  notification:
    image: alhoussam/notification:0.0.1-SNAPSHOT@sha256:26e447e774fa12e56cf494cab11582da261cd9e98a70d73a27ca738d968c161d
    ports:
      - 8086:8086
    networks:
      - spring
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      - zipkin
      - db
      - pgadmin
      - rabbitmq


networks:
  postgres:
    driver: bridge
  spring:
    driver: bridge